* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100;
}

#navigation {
  background-color: rgba(253, 196, 177, 0.836);
  color: white;
}

.sushistras {
  color: white !important;
  font-size: 48px !important;
  font-family: "Shojumaru", cursive !important;
}

#navigation a {
  color: white;
  font-size: 20px;
  margin-right: 3em;
  font-family: "roboto";
  letter-spacing: 0.252em;
  font-weight: 800;
  font-size: 24px;
  line-height: 41px;
  transition: all 0.25s ease-in;
}

.row {
  margin: 0;
}
#navigation a:hover {
  color: #f13808;
}
.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .navbar-collapse {
    justify-content: center;
  }
}

p {
  font-family: "roboto";
  font-size: 1.2em;
}

.roboto {
  font-family: "roboto";
}

.shojumaru,
.shojumaru a {
  font-family: "Shojumaru", cursive;
}

.shojumaru-stroke,
.shojumaru-stroke a {
  font-family: "Shojumaru", cursive;
  -webkit-text-stroke: 1px black;
}

#header {
  background: url("/images/sushistable.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50em;
  /*width: 100vw;*/
  padding: 0;
}

#header-content {
  background: url("/images/sushistable.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 100vw;
  padding: 0;
}

#header img {
  position: relative;
  top: -50px;
}

.intro {
  padding-top: 18em;
}

.intro h1 {
  color: white;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-size: 3em;
}

.decoration {
  border: 3px solid white;
  border-radius: 15px;
  background-color: #fdc4b1a2;
  width: 50em;
  margin: auto;
  padding-bottom: 2em;
  padding-top: 0.5em;
}

.cta1 {
  width: 13em;
  height: 3em;
  font-size: 1.5em;
  margin-top: 0.5em;
  min-height: 30px;
  background-color: #f13808;
  margin-right: 1em;
  margin-left: 1em;
}

h2.titres {
  margin-top: 1em;
  margin-bottom: 2em;
  display: flex;
  justify-content: flex-start;
}

h2.titres::before {
  background: #fdc4b1;
  content: "";
  display: block;
  height: 3px;
  width: 2em;
  position: relative;
  top: 0.7em;
  margin-right: 1em;
}

h3.submenu {
  margin-top: 2em;
  margin-bottom: 2em;
}

.cercles {
  border-radius: 100%;
  border: 10px solid #fdc4b1;
  height: 10em;
  width: 10em;
  margin: auto;
  object-fit: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-block {
  width: 60%;
  margin: auto;
  height: 3em;
  margin-top: 3em;
  background-color: #f13808;
}

.caption {
  font-weight: 800;
}

.boutoncarte {
  margin-bottom: 2em;
  font-size: 24px;
}

.boutoncarte:hover,
.cta1:hover,
.boutonmaps:hover {
  transition: 0.4s;
  background-color: #161515;
}

/* Section Où nous trouver - Maps + Cartes */
.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border: 3px solid #fdc4b1;
  border-radius: 15px;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card {
  width: 12 rem;
}

.card-title {
  text-align: center;
}

.card-subtitle {
  margin-top: 2em;
  text-align: center;
}

.card-text {
  text-align: center;
  margin-top: 0.5em;
}

.card-header {
  height: 5em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdc4b1;
  font-size: 24px;
}

.card-body {
  background-color: #e9cbbc2d;
  padding: 0;
  margin-bottom: 1em;
  border-radius: 15px;
  height: 30em;
}

.boutonmaps {
  width: 12rem;
  background-color: green;
  border: black;
}

.blue {
  background-color: skyblue;
}

#equipe {
  margin-top: 4em;
}

.thumbnail img {
  border-radius: 15px;
}

.separator {
  background: rgb(24, 23, 23);
  padding-top: 2em;
  margin-top: 5em;
  padding-bottom: 0;
  min-height: 2em;
}

.disclaimer {
  height: 2em;
  font-size: 14px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}

.footertext {
  color: white;
}

/* Page carte */

.menu,
.menu-selection {
  border: 3px solid #fdc4b1;
  background-color: #fdc4b144;
  border-radius: 15px;
}
.menu-selection {
  overflow: auto;
}

h3 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3.titres-menu::after {
  content: "";
  width: 2em;
  height: 2px;
  color: black;
  background: grey;
  display: inline-block;
  position: relative;
  bottom: 0.3em;
  margin-left: 0.5em;
}

h3.titres-menu::before {
  content: "";
  width: 2em;
  height: 2px;
  color: black;
  background: grey;
  display: inline-block;
  position: relative;
  bottom: 0.3em;
  margin-right: 0.5em;
}

li {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

#selection {
  display: flex;
  flex-direction: column;
}
/* Responsive */
@media (max-width: 1200px) {
  .sushistras {
    font-size: 32px !important;
  }

  .decoration {
    width: 90vw;
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbar-collapse,
  .navbar-collapse .collapsing {
    justify-content: center;
  }

  #navigation a {
    color: white;
    font-size: 20px;
    margin-right: 3em;
    font-family: "roboto";
    letter-spacing: 0.252em;
    font-weight: 800;
    font-size: 20px;
  }

  .menu-selection {
    margin-top: 2em;
  }
}
